.nav {
  display: flex;
  align-items: center;
  font-weight: 700;
}
.navItem {
  margin: 10px;
}

.navLinkLogo {
  background-color: black;
  border-top-right-radius: 25%;
  border-bottom-left-radius: 25%;
  color: black;
  border: 2px solid white;
}

.activeNavLinkLogo {
  border-color: red;
}

.logo {
}

.logoPartYel {
  background-color: yellow;
  border-top-right-radius: 25%;
  border-bottom-left-radius: 25%;
}

.logoPartBlack {
  color: yellow;
  font-weight: 300;
  font-size: 15px;
}
