.formWrapper {
  width: 100%;
  border-style: outset;
  margin-bottom: 20px;
}
.form {
  text-align: start;
}

.input {
  width: calc(100% - 20px);
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.label {
  font-weight: 500;
}

.btnSubmit {
  width: 120px;
  font-size: 20px;
  padding: 5px;
  margin-top: 20px;
}

.errorMessage {
  color: red;
}
